.button {
  display: flex;
  align-items: center;
  padding: 8px 12px;

  border: none;
  border-radius: 10px;

  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;

  cursor: pointer;
  svg {
    fill: currentColor;
    path {
      fill: inherit;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.only-icon {
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;

  background: none;
  svg {
    fill: currentColor;
  }
}

.btn-primary {
  background: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.btn-danger {
  background-color: var(--danger);
}
.btn-warning {
  background-color: var(--warning);
}

.btn-success {
  background-color: var(--success);
}

.btn-outline {
  border: 1px solid var(--dark);

  background: transparent;

  color: var(--dark);
}

.btn-link {
  background: none;

  color: var(--link);
  text-decoration: underline;
}

.icon {
  svg {
    margin-right: 12px;
  }
}

.btn-sm {
  padding: 10px 19px;
}

.btn-l {
  justify-content: center;
  width: 100%;
}
